.video-esquina {
  position: fixed;
  width: 220px;
  height: 124px;
  z-index: 10;
  border-radius: 10px;
}

#video-izquierda{
  bottom: 120px;
  right: 10px;
}

#video-derecha {
  bottom: 120;
  right: 10px;
}
.clases-plantas {
  background-color: #d2f4dc;
  margin: 30px auto;
  padding: 20px;
  max-width: 600px;
  border-radius: 15px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.plantas-lista ul {
  list-style: square inside;
  font-size: 16px;
  color: #333;
}

.plantas-lista li {
  margin-bottom: 10px;
}
.tabla-cuadros {
  width: 100%;
  max-width: 800px;
  margin: 20px auto;
  border-collapse: collapse;
  font-size: 16px;
}

.tabla-cuadros th, .tabla-cuadros td {
  border: 2px solid #000;
  padding: 10px;
  text-align: left;
}

.tabla-cuadros thead {
  background-color: #b7e4c7;
}

.tabla-cuadros tbody tr:nth-child(even) {
  background-color: #f1fdf6;
}
.footer-menu {
  margin-top: 20px;
  padding-top: 10px;
  border-top: 1px solid #ccc;
}

.footer-menu a {
  margin: 0 15px;
  text-decoration: none;
  color: #007b8f;
  font-weight: bold;
  font-size: 16px;
  transition: color 0.3s ease;
}

.footer-menu a:hover {
  color: #0b5345;
  text-decoration: underline;
}


.pie-pagina {
  background-color: #f37af5;
  padding: 20px;
  margin-top: 40px;
  text-align: center;
  border-top: 2px solid #87cbe3;
  font-size: 14px;
}

.pie-pagina h2 {
  color: #502c3f;
  margin-bottom: 15px;
}

.pie-pagina p {
  margin-top: 15px;
  color: #555;
}
